body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.blurb{
  display: grid;

}
.MM{
  justify-self: center;
  align-self: start;
  grid-column-start: 2;
  grid-column-end: 2;
  display:block;
  margin:0 auto;
  width: 800px;
  height: 800px;
}

.portfolio-cont {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 1em;
}

.project-listing {
  position: relative;
  overflow: hidden;
  min-width:450px;
}

.project-title {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 74, 90, 0.4);

  /* typographic styles */
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;

  /* position the text centrally*/
  display: flex;
  align-items: center;
  justify-content: center;

  /* hide the title by default */
  opacity: 0;
  transition: opacity .5s;
}

.project-image {
  line-height: 0;
}

.project-listing:hover .project-title {
  opacity: 1;
  z-index: 1;
}

/* for touch screen devices */
@media (hover: none) {
  .location-title {
    opacity: 1;
  }
  .location-image img {
    filter: blur(2px);
  }
}
